<template>
  <div>
    <div class="m-header">
      <Button @click="welfareModal=true">添加福利活动</Button>
    </div>
    <Table border
           :columns="columns1"
           :data="welfareList">
      <template slot-scope="{ row, index }"
                slot="action">
        <Button type="primary"
                size="small"
                style="margin-right: 5px"
                @click="show(index)">查看详情</Button>
        <Button size="small"
                style="margin-left: 5px"
                @click="getQRcodeWelfare(index)">生成二维码链接</Button>
        <!-- <Button  size="small" style="margin-left: 5px" @click="exportData(index)">导出数据</Button>
            <Button type="error" style="margin-left: 5px" size="small" @click="generatorData(index)"  :loading="exportLoading">
              <span v-if="!exportLoading">更新数据</span>
              <span v-else>数据生成中</span>
            </Button> -->
      </template>
    </Table>
    <Modal v-model="detailModal"
           fullscreen>
      <Table border
             :columns="columns2"
             :data="detailData"></Table>
    </Modal>
    <Modal v-model="welfareModal"
           title="添加福利活动"
           width="900px"
           footer-hide
           :mask-closable='false'>
      <Form ref="formValidate"
            :model="formWelfare"
            :rules="ruleValidate"
            :label-width="80">
        <FormItem label="福利名称:"
                  prop="welfareName"
                  required>
          <Input v-model="formWelfare.welfareName"
                 placeholder="请输入福利名称"></Input>
        </FormItem>
        <Row>
          <Col v-for="(item, index) in formWelfare.origins"
               :key="index">
          <FormItem :label="'区域' + item.index"
                    :prop="'origins.' + index + '.originName'"
                    style="display:inline-block"
                    :rules="{required: true, message: '区域 ' + item.index +'不可以为空', trigger: 'blur'}"
                    v-if="item.status"
                    required>
            <Select v-model="item.originName"
                    style="width:200px">
              <Option v-for="item in originList"
                      :value="item.originName"
                      :key="item.originName">{{ item.originName }}</Option>
            </Select>
          </FormItem>
          <FormItem style="display:inline-block"
                    v-if="item.status"
                    required
                    :label="'数量' + item.index"
                    :rules="{required: true,type:'number', message: '请输入正确的数量', trigger: 'blur'}"
                    :prop="'origins.' + index + '.originNum'">
            <Input v-model.number="item.originNum"
                   placeholder="请输入福利数量"
                   style="margin-left:10px;width:200px"></Input>
            <Button style="margin-left:20px"
                    @click="handleRemove(index)">删除</Button>

          </FormItem>
          </Col>
        </Row>
        <FormItem>
          <Row>
            <Col span="20">
            <Button type="dashed"
                    long
                    @click="handleAdd"
                    icon="md-add">添加区域</Button>
            </Col>
          </Row>
        </FormItem>
        <FormItem class="m-p">
          <Button type="primary"
                  @click="handleSubmit('formValidate')">确定</Button>
        </FormItem>
      </Form>
    </Modal>
  </div>
</template>

<script>
import { getRange, addWelfare, getWelfare, getWelfareDetail } from '@/api'
export default {
  data () {
    return {
      originList: [],
      detailModal: false,
      exportLoading: false,
      index: 0,
      formWelfare: {
        origins: []
      },
      welfareModal: false,
      ruleValidate: {
        welfareName: [
          { required: true, message: '请输入福利名称' }
        ]
      },
      columns1: [
        {
          title: '福利编号',
          key: 'welfare_id'
        },
        {
          title: '福利名称',
          key: 'welfare_name'
        },
        {
          title: '福利总数',
          key: 'welfare_num'
        },
        {
          title: '福利状态',
          key: 'address'
        },
        {
          title: '更多',
          slot: 'action',
          width: 400,
          align: 'center'
        }
      ],
      columns2: [
        {
          title: '区域名称',
          key: 'originName'
        },
        {
          title: '总数量',
          key: 'welfare_sum'
        },
        {
          title: '领取数量',
          key: 'welfare_num'
        },
        {
          title: '剩余数量',
          key: 'last_num'
        }
      ],
      detailData: [],
      welfareList: []
    }
  },
  methods: {
    handleAdd () {
      this.index++
      this.formWelfare.origins.push({
        originName: '',
        originNum: '',
        index: this.index,
        status: 1
      })
    },
    async getQRcodeWelfare (index) {
      const a = document.createElement('a')
      const welfare_id = this.welfareList[index].welfare_id
      a.href = `http://oa-notice.test.17zuoye.net/welfare/w/welfareqrcode?welfare_id=${welfare_id}`
      a.click()
    },
    handleRemove (index) {
      this.formWelfare.origins[index].status = 0
    },
    async initOriginList () {
      const response = await getRange()
      this.originList = response.data.data.originList
    },
    async initWelfareList () {
      this.welfareList = (await getWelfare()).data.data.welfareList
      console.log(this.welfareList)
    },
    async handleSubmit (name) {
      // console.log({ formWelfare: this.formWelfare })
      // await addWelfare({ formWelfare: this.formWelfare })
      // this.$Message.success('Success!')
      console.log(this.formWelfare)
      this.$refs[name].validate(async (valid) => {
        if (valid) {
          await addWelfare({ formWelfare: this.formWelfare })
          this.$Message.success('Success!')
        } else {
          this.$Message.error('Fail!')
        }
      })
    },
    async show (index) {
      this.detailData = (await getWelfareDetail(this.welfareList[index].welfare_id)).data.data.detailList
      this.detailModal = true
    },
    generatorData () {
      this.exportLoading = true
      setInterval(() => {
        this.exportLoading = false
      }, 150000)
    }
  },
  mounted () {
    this.initOriginList()
    this.initWelfareList()
  }
}
</script>

<style scoped>
.m-header {
  margin: 0 0 10px 10px;
}
.m-p {
  text-align: center;
  transform: translateX(-50px);
}
</style>
