<template>
    <div>
      <div class="m-header">
        <Button type="primary" style="float:right" @click="addModal=true">添加区域</Button>
      </div>
      <Table border :columns="columns1" :data="originData"></Table>
      <Modal
        v-model="addModal"
        title="添加区域"
        @on-ok="okOrigin"
        @on-cancel="cancel">
        <Form :model="originForm" :label-width="80">
          <FormItem label="区域名称">
            <Input v-model="originForm.originName" placeholder="请输入区域名称"></Input>
          </FormItem>
        </Form>
    </Modal>
    </div>
</template>
<script>
import { addOrigin, getRange } from '@/api'
export default {
  data () {
    return {
      originForm: {},
      columns1: [
        {
          title: '区域名称',
          key: 'originName'
        }
      ],
      originData: [

      ],
      addModal: false
    }
  },
  methods: {
    async okOrigin () {
      const response = await addOrigin({ originName: this.originForm.originName })
      if (response.status === 200) {
        this.$Message.success('添加成功')
      }
      this.initOrigin()
    },
    async initOrigin () {
      this.originData = (await getRange()).data.data.originList
    }
  },
  mounted () {
    this.initOrigin()
  }
}
</script>
<style  scoped>
.m-header{
  margin: 0 0 10px 10px;
  overflow: hidden;
}
</style>
