<style lang="less">
  @import "./common.less";
</style>
<template>
  <div>
    <Card title="导入EXCEL">
      <Row>
        <Upload action="" :before-upload="handleBeforeUpload" accept=".xls, .xlsx">
          <Button icon="ios-cloud-upload-outline" :loading="uploadLoading" @click="handleUploadFile">上传文件</Button>
        </Upload>
      </Row>
      <Row>
        <div class="ivu-upload-list-file" v-if="file !== null">
          <Icon type="ios-stats"></Icon>
            {{ file.name }}
          <Icon v-show="showRemoveFile" type="ios-close" class="ivu-upload-list-remove" @click.native="handleRemove()"></Icon>
        </div>
      </Row>
      <Row>
        <transition name="fade">
          <Progress v-if="showProgress" :percent="progressPercent" :stroke-width="2">
            <div v-if="progressPercent == 100">
              <Icon type="ios-checkmark-circle"></Icon>
              <span>成功</span>
            </div>
          </Progress>
        </transition>
      </Row>
    </Card>
    <Button  @click="syncExcel" type="primary" style="margin:15px" >同步名单</Button>
    <Button  @click="sendExcel" type="primary" style="margin:15px" >寄送礼品</Button>
    <Row class="margin-top-10">
      <Table :columns="tableTitle" :data="tableData" :loading="tableLoading"></Table>
    </Row>
    <Modal
        v-model="syncModal"
        title="请选择同步的福利活动"
        @on-ok="ok"
        @on-cancel="cancel"
        footer-hide>
        <Form ref="welfareSyncForm" :model="welfareSyncForm" :rules="welfareSyncFormRule">
          <FormItem  prop="welfareId">
          <Select v-model="welfareSyncForm.welfareId" placeholder="请选择同步的福利活动" filterable>
                <Option  v-for="item in welfareOptions" :key="item.welfare_id" :value="item.welfare_id" >{{item.welfare_name}}</Option>
          </Select>
          </FormItem>
          <FormItem style="text-align:center">
            <Button type="primary" @click="handleSubmit('welfareSyncForm')">同步</Button>
          </FormItem>
        </Form>
    </Modal>
    <Modal
        v-model="sendModal"
        title="请选择寄送礼品的福利活动"
        footer-hide>
        <Form ref="welfareSendForm" :model="welfareSendForm" :rules="welfareSyncFormRule">
          <FormItem  prop="welfareId">
          <Select v-model="welfareSendForm.welfareId" placeholder="请选择同步的福利活动" filterable>
                <Option  v-for="item in welfareOptions" :key="item.welfare_id" :value="item.welfare_id" >{{item.welfare_name}}</Option>
          </Select>
          </FormItem>
          <FormItem style="text-align:center">
            <Button type="primary" @click="handleSendSubmit('welfareSendForm')">寄送</Button>
          </FormItem>
          <Divider />
          <List  border>
            <ListItem v-for="item in errUserList" :key="item.usercode">{{item.info}}-{{item.name}}-{{item.usercode}}</ListItem>
        </List>
        </Form>
    </Modal>
  </div>
</template>
<script>
import excel from '@/libs/excel'
import { addRange, getWelfare, addSendWelfare } from '@/api'
export default {
  name: 'upload-excel',
  data () {
    return {
      welfareSyncForm: {
        welfareId: ''
      },
      welfareSendForm: {
        welfareId: ''
      },
      welfareSyncFormRule: {
        welfareId: [
          { required: true, message: '请选择同步的福利活动' }
        ]
      },
      sendModal: false,
      syncModal: false,
      uploadLoading: false,
      progressPercent: 0,
      showProgress: false,
      showRemoveFile: false,
      file: null,
      tableData: [],
      tableTitle: [],
      tableLoading: false,
      welfareOptions: [],
      errUserList: []
    }
  },
  methods: {
    async initWelfareOption () {
      this.welfareOptions = (await getWelfare()).data.data.welfareList
    },
    async syncExcel () {
      if (this.tableData.length === 0) {
        this.$Message.error('请上传数据')
      } else {
        this.syncModal = true
      }
    },
    async sendExcel () {
      if (this.tableData.length === 0) {
        this.$Message.error('请上传数据')
      } else {
        this.sendModal = true
      }
    },
    handleSubmit (name) {
      this.$refs[name].validate((valid) => {
        if (valid) {
          this.$Modal.confirm({
            title: '您确定要将同步该名单到此福利活动吗',
            onOk: async () => {
              const userList = []
              this.tableData.forEach(item => {
                if (item['员工工号']) {
                  userList.push(item['员工工号'])
                }
              })
              await addRange({ tableData: userList, welfare_id: this.welfareSyncForm.welfareId })
              this.$Message.success('同步成功')
              this.syncModal = false
            },
            onCancel: () => {
            }
          })
        } else {
          this.$Message.error('请选择同步的福利活动')
        }
      })
    },
    handleSendSubmit (name) {
      this.$refs[name].validate((valid) => {
        if (valid) {
          this.$Modal.confirm({
            title: '您确定要将同步该名单到此福利活动吗',
            onOk: async () => {
              const userList = []
              this.tableData.forEach(item => {
                if (item['员工工号']) {
                  userList.push(item['员工工号'])
                }
              })
              const response = await addSendWelfare({ tableData: userList, welfare_id: this.welfareSendForm.welfareId })
              console.log(response.data.data)
              this.errUserList = response.data.data.err_user_info
              this.$Message.success('同步成功')
              this.syncModal = false
            },
            onCancel: () => {
            }
          })
        } else {
          this.$Message.error('请选择同步的福利活动')
        }
      })
    },
    initUpload () {
      this.file = null
      this.showProgress = false
      this.loadingProgress = 0
      this.tableData = []
      this.tableTitle = []
    },
    handleUploadFile () {
      this.initUpload()
    },
    handleRemove () {
      this.initUpload()
      this.$Message.info('上传的文件已删除！')
    },
    handleBeforeUpload (file) {
      const fileExt = file.name.split('.').pop().toLocaleLowerCase()
      if (fileExt === 'xlsx' || fileExt === 'xls') {
        this.readFile(file)
        this.file = file
      } else {
        this.$Notice.warning({
          title: '文件类型错误',
          desc: '文件：' + file.name + '不是EXCEL文件，请选择后缀为.xlsx或者.xls的EXCEL文件。'
        })
      }
      return false
    },
    // 读取文件
    readFile (file) {
      const reader = new FileReader()
      reader.readAsArrayBuffer(file)
      reader.onloadstart = e => {
        this.uploadLoading = true
        this.tableLoading = true
        this.showProgress = true
      }
      reader.onprogress = e => {
        this.progressPercent = Math.round(e.loaded / e.total * 100)
      }
      reader.onerror = e => {
        this.$Message.error('文件读取出错')
      }
      reader.onload = e => {
        this.$Message.info('文件读取成功')
        const data = e.target.result
        const { header, results } = excel.read(data, 'array')
        const tableTitle = header.map(item => { return { title: item, key: item } })
        this.tableData = results
        this.tableTitle = tableTitle
        this.uploadLoading = false
        this.tableLoading = false
        this.showRemoveFile = true
      }
    }
  },
  created () {

  },
  mounted () {
    this.initWelfareOption()
  }
}
</script>
<style  scoped>
.m-btn:hover{
  cursor: pointer !important;
}
</style>
