<template>
  <div>
    <Table :columns="columns1"
           :data="data1"></Table>
    <Page :total="40"
          style="text-align:center"
          show-elevator
          size="small" />
  </div>
</template>

<script>
export default {
  data () {
    return {
      columns1: [
        {
          title: '福利名称',
          key: 'name'
        },
        {
          title: '领取人',
          key: 'age'
        },
        {
          title: '代替领取人',
          key: 'address'
        },
        {
          title: '领取时间',
          key: 'address'
        },
        {
          title: '领取地点',
          key: 'address'
        }
      ]
    }
  }
}
</script>

<style>
</style>
